.form-wrap {
    margin-top: 100px;
    top: 100%;
    left: 50%;
    font-size: 14px;
    padding: 20px;

    .clause-wrap {
        background-color: #faf8f4;
        border-radius: 5px;
        margin-top: 30px;

        .join {
            padding-top: 20px;
            text-align: center;
            margin-bottom: 50px;
        }

        .agree,
        .direction {
            text-align: center;
            margin-bottom: 20px;
        }

        #check-all {
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 30px auto 20px;
            #agree-all {
                position: relative;
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 7px;
                margin-right: 5px;
                background-color: #fff;
                border: 1px solid #333;
                &:checked {
                    background-color: #333;
                }
                &:checked::after {
                    content: '✓';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    font-size: 16px;
                    font-style: initial;
                    text-align: center;
                    line-height: 11px;
                }
            }
        }
    }

    .clause-container {
        display: flex;
        flex-direction: column;
        margin: 15px;
        gap: 10px;

        .clause {
            height: 200px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            background-color: #fff;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #bababa; /* 스크롤바 색상 */
                border-radius: 10px; /* 스크롤바 둥근 테두리 */
            }
            &::-webkit-scrollbar-track {
                background: #eaeaea; /*스크롤바 뒷 배경 색상*/
            }
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding-left: 10px;

        #chk1,
        #chk2,
        #chk3 {
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 7px;
            position: relative;
            margin-right: 5px;
            background-color: #fff;
            border: 1px solid #333;

            &:checked {
                background-color: #333;
            }
            &:checked::after {
                content: '✓';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                font-size: 16px;
                font-style: initial;
                text-align: center;
                line-height: 11px;
            }
        }
    }
    #btn-next {
        display: block;
        margin: 50px auto;
        width: calc(100% / 3);
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #7a6c64;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
}

//반응형
@media screen and (max-width: 1240px) {
    .form-wrap {
        .clause-wrap {
            .direction {
                text-align: center;
                margin-bottom: 20px;
                line-height: 30px;
            }
        }
    }
    .clause-container {
        .clause {
            height: 200px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            background-color: #fff;
            overflow: auto;
            line-height: 20px;
        }
        #btn-next {
            display: block;
            margin: 50px auto;
            width: calc(100% / 3);
            min-width: 200px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #7a6c64;
            color: #fff;
            font-size: 12px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px){
    .form-wrap {
        padding: 0;
        .clause-wrap {
            background-color: #fff;
        }
    }
}
