.form-wrap {
    display: relative;
    font-size: 14px;
    padding: 10px;

    .join-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 0 auto 20px;
        width: 650px;

        .info-title {
            font-size: 20px;
            margin: 150px auto 30px;
            padding: 10px;
        }

        .info-group {
            #pid,
            #cphone {
                width: calc(100% - 115px);
                margin-right: 5px;
            }
            .input-container {
                display: flex;
                align-items: center;
                justify-content: center;

                label {
                    width: 150px;
                    font-size: 16px;
                    margin-bottom: 35px;
                }
                .input-wrap {
                    width: calc(100% - 150px);
                    input {
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        box-sizing: border-box;
                    }
                    .eng {
                        display: flex;
                        justify-content: space-between;
                        #firstname,
                        #lastname {
                            width: calc((100% - 10px) / 2);
                        }
                        #firstname {
                            margin-right: 10px;
                        }
                    }

                    #id-chk {
                        width: 100px;
                        height: 45px;
                        background-color: #7a6c64;
                        color: #faf8f4;
                        border-radius: 5px;
                        &:hover {
                            background-color: #333;
                        }
                    }
                }
                .error-message {
                    display: block;
                    color: #f00;
                    font-size: 14px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    height: 10px;
                    line-height: 1;
                }

                select {
                    width: calc(100% / 3);
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }

                .birth {
                    display: flex;
                    #year,
                    #month,
                    #day {
                        width: calc((100% - 10px) / 3);
                        text-align: center;
                        margin-right: 5px;
                    }
                    #day {
                        margin-right: 0;
                    }
                }

                .tel-num {
                    #start,
                    #middle,
                    #last {
                        position: relative;
                        width: calc((75% - 10px) / 3);
                        text-align: center;
                        margin-right: 5px;
                    }
                }
                #submit {
                    width: 500px;
                    padding: 10px;
                    margin-top: 20px;
                    font-size: 16px;
                    background-color: #7a6c64;
                    color: #fff;
                    border: none;
                    &:hover {
                        background-color: #333;
                    }
                }
            }
        }
    }
}

// 모바일
@media screen and (max-width: 768px) {
    .form-wrap {
        padding: 0;
        .join-container {
            width: 100%;
            padding: 0;
            .info-group {
                .input-container {
                    label {
                        width: 100px;
                    }
                    .input-wrap {
                        width: calc(100% - 100px);
                        #pid,
                        #pw,
                        #pwchk {
                            &::placeholder {
                                color: transparent;
                            }
                        }
                    }
                    .birth {
                        select {
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }
}
