@charset "UTF-8";
@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rec-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rec-section {
    width: calc((100% - 60px) / 4);
    aspect-ratio: 1/1.133333;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    a {
        position: relative;
        width: 100%;
        height: 100%;
        .img-wrap {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .txt-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.18);
            color: #fff;

            h2 {
                position: absolute;
                font-size: 1.3vw;
                bottom: 16%;
                left: 20px;
            }
            p {
                position: absolute;
                font-size: 1vw;
                bottom: 8%;
                left: 20px;
            }
        }
    }
}
.rec-section a .img-wrap img {
    transition: transform 1s ease;
}

.rec-section a:hover .img-wrap img {
    transform: scale(1.1);
}

//필터컨테이너
.pkg-filter-box-wrapper {
    display: block;
    // height: 100%;
}
.pkg-filter-box {
    height: 100%;
    display: flex;
    border: 2px solid #ddd;
    border-radius: 12px;
    position: relative;
}
.pkg-datepicker-box,
.pkg-filter-sort,
.pkg-filter-keyword,
.pkg-btnbox {
    padding: 20px 0 20px 20px;
    margin: 30px 0 30px 30px;
    .kw-title {
        display: block;
        margin-bottom: 20px;
        line-height: 1.7;
    }
}
.pkg-datepicker-box {
    flex-grow: 4;
    .date-picker-input {
        top: 0;
        width: 100%;
        height: 30px;
        padding: 0px;
        color: #333333;
        font-size: 1rem;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-weight: 400;
        @include ellipsis;
    }
}

// .date {
//     width: 100%;
//     height: 30px;
//     padding-left: 5px;
//     color: #333333;
//     font-size: 1rem;
//     border-bottom: 1px solid #ddd;
// }

.pkg-filter-sort {
    flex-grow: 1;
}
.pkg-filter-keyword {
    flex-grow: 4;
    .keword-wrap {
        padding-right: 3%;
        border-right: 1px solid #ddd;
        .keywords {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            gap: 0.8rem;
            flex-wrap: wrap;
            & li {
                width: calc(100% / 6);
                height: 100%;
                text-align: center;
                // font-size: 12px;
                input[type="checkbox"] {
                    display: none;
                }
                label {
                    display: inline-block;
                    white-space: nowrap;
                    background-color: #fff;
                    // border: 1px solid #333;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    line-height: 1.8rem;
                }
                input[type="checkbox"]:checked + label {
                    color: #ddd;
                    background-color: #333;
                }
            }
        }
    }
}
.pkg-btnbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 20px 30px 20px 0;
}
.pkg-filter-resetbtn,
.pkg-filter-searchbtn {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.pkg-filter-searchbtn {
    color: #fff;
    background-color: #333333;
}
//상품개수 출력 및 정렬드롭다운
.pkg-section {
    height: auto;
    margin: 20px 0;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.pkg-total {
    height: 30px;
    line-height: 2.5;
}
.dropdown {
    width: 130px;
    display: inline-block;
    position: relative;
}
.sortbox,
.typebox {
    appearance: none;
    height: 30px;
    background: url(../../public/img/icon/icn_collps01.png) no-repeat right 10px
        center;
    background-size: 10px auto;
    padding-left: 8px;
    line-height: 2;
    cursor: pointer;
}
.typebox {
    width: 100%;
    border: 1px solid #ddd;
    // border-bottom: 1px solid #ddd;
}
.sortbox {
    border: 1px solid #ddd;
}
.dropdown-item-sort,
.dropdown-item-type {
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    z-index: 1;
    width: 130px;
    list-style: none;
    position: absolute;
    display: none;
}
.dropdown.on > .dropdown-item-sort,
.dropdown.on > .dropdown-item-type {
    display: block;
}
.dropdown.on > .sortbox,
.dropdown.on > .typebox {
    background-image: url(../../public/img/icon/icn_collps02.png);
}

.dropdown-item-sort > li,
.dropdown-item-type > li {
    padding: 10px 0 8px 8px;
    height: 30px;
    line-height: 1;
}

.dropdown-item-sort > li:hover,
.dropdown-item-type > li:hover {
    background-color: #333;
    color: #fff;
}

////// 셀렉트박스 수정???
// .typebox {
//     appearance: none; /* 기본 드롭다운 화살표 제거 */
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     border: none;
//     outline: none;
//     width: 100%;
//     height: 30px; /* 기존 높이 맞춤 */
//     background: url(../../public/img/icon/icn_collps01.png) no-repeat right 10px
//         center;
//     background-size: 10px auto;
//     padding-left: 8px;
//     line-height: 2;
//     cursor: pointer;
//     border-bottom: 1px solid #ddd;
// }
/////////

//패키지상품리스트
.event-container {
    width: 100%;
    height: 100%;
    .list-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .list-container {
            width: calc(50% - 20px);
            margin-bottom: 40px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                &.event-btn {
                    &::after {
                        background: transparent;
                    }
                }
                .img-wrapper {
                    aspect-ratio: 1/0.582587;
                    position: relative;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    .pkg-rewards {
                        width: 14%;
                        height: 24%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: #7a6c64;
                        padding: 2% 0 0 0;
                        font-size: 1vw;
                        text-align: center;
                        color: #fff;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        img {
                            position: relative;
                            display: block;
                            width: 50%;
                            height: 50%;
                        }
                        .reward {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            line-height: 2.6;
                            font-size: 1vw;
                        }
                    }
                }
                .txt-wrapper,
                .bottom-wrapper {
                    margin-top: 20px;
                }
                .txt-wrapper {
                    font-size: 16px;
                    .list-keword {
                        display: inline-block;
                        width: auto;
                        padding: 8px 15px;
                        height: 100%;
                        color: #fff;
                        background-color: #1f453a;
                        border-radius: 5px;
                        text-align: center;
                        margin-right: 5px;
                    }
                    .pmt {
                        background-color: #d20a10;
                        color: #fff;
                    }
                    h3 {
                        font-size: 30px;
                        font-weight: 600;
                        padding: 20px 0 8px 0;
                        @include ellipsis;
                    }
                    .offer-des {
                        padding-bottom: 20px;
                        line-height: 1.3;
                        @include ellipsis();
                    }
                    .offer-date {
                        color: #757575;
                        padding: 10px 0;
                        border-bottom: 1px solid #757575;
                    }
                }
                .bottom-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    .offer-pay {
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    transition: all 0.4s;
                    opacity: 0;
                }
                &:hover {
                    .img-wrap {
                        img {
                            transform: scale(1.1);
                        }
                    }
                    .view-more {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                .view-more {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 130px;
                    border: 3px solid #fff;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 130px;
                    color: #fff;
                    transition: all 0.3s;
                    z-index: 2;
                    opacity: 0;
                }
            }
        }
    }
}

// 반응형
@media screen and (max-width: 1500px) {
    // .daterangepicker {
    //     left: 10% !important;
    // }
}
// 태블릿
@media screen and (max-width: 1240px) {
    .rec-wrapper {
        .rec-section.none {
            display: none;
        }
        .rec-section {
            width: calc((100% - 40px) / 3);
            a {
                .txt-wrap {
                    h2 {
                        font-size: 1.5vw;
                        bottom: 14%;
                    }
                    p {
                        position: absolute;
                        font-size: 1.2vw;
                    }
                }
            }
        }
    }

    .pkg-datepicker-box,
    .pkg-filter-sort,
    .pkg-filter-keyword,
    .pkg-btnbox {
        padding: 0;
    }
    .pkg-btnbox {
        padding-right: 30px;
    }
    // .daterangepicker {
    //     left: 6% !important;
    // }
    .pkg-datepicker-box .date {
        @include ellipsis();
    }
    .event-container {
        .list-item {
            .list-container {
                a {
                    .img-wrapper {
                        .pkg-rewards {
                            img {
                                width: 45%;
                                height: 50%;
                            }
                        }
                    }
                    .txt-wrapper,
                    .bottom-wrapper {
                        margin-top: 12px;
                    }
                    .txt-wrapper {
                        font-size: 14px;
                        h3 {
                            font-size: 24px;
                        }
                    }
                    .bottom-wrapper {
                        .offer-pay {
                            font-size: 20px;
                        }
                    }
                    .view-more {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
// 브레이크 포인트
@media screen and (max-width: 973px) {
    .rec-wrapper {
        .rec-section {
            aspect-ratio: 1/0.939534;
            a {
                .txt-wrap {
                    h2 {
                        font-size: 1.9vw;
                        bottom: 17%;
                    }
                    p {
                        position: absolute;
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }
    .pkg-filter-box {
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
    }
    .pkg-datepicker-box,
    .pkg-filter-sort,
    .pkg-filter-keyword,
    .pkg-btnbox {
        padding: 20px 0px 0px 20px;
        margin: 10px;
    }
    .pkg-datepicker-box {
        .date-picker-input {
            width: 42%;
            // padding-left: 5px;
            // color: #333333;
            // font-size: 16px;
            // border-bottom: 1px solid #ddd;
        }
    }
    // .pkg-datepicker-box .date {
    //     width: 42%;
    //     padding-left: 5px;
    //     color: #333333;
    //     font-size: 16px;
    //     border-bottom: 1px solid #ddd;
    // }

    .pkg-filter-sort {
        .dropdown {
            width: 100%;
            .typebox {
                width: 42%;
            }
            .dropdown-item-type {
                width: 42%;
            }
        }
    }
    .pkg-filter-keyword {
        .keword-wrap {
            padding-right: 0%;
            border-right: none;
            .keywords {
                & li {
                    width: auto;
                    font-size: 13px;
                    label {
                        width: auto;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    .pkg-btnbox {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }
    .event-container {
        .list-item {
            .list-container {
                a {
                    .img-wrapper {
                        .pkg-rewards {
                            min-width: 56px;
                            min-height: 61px;
                            padding-top: 3%;
                            img {
                                width: 45%;
                                height: 50%;
                            }
                        }
                    }
                    .txt-wrapper,
                    .bottom-wrapper {
                        margin-top: 12px;
                    }
                    .txt-wrapper {
                        font-size: 14px;
                        h3 {
                            font-size: 24px;
                        }
                    }
                    .bottom-wrapper {
                        .offer-pay {
                            font-size: 20px;
                        }
                    }
                    .view-more {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.event-container {
    .list-item {
        .list-container {
            a {
                .img-wrapper {
                    .pkg-rewards {
                        width: 14%;
                        height: 26%;
                        font-size: 0.6rem;
                        img {
                            width: 45%;
                            height: 50%;
                        }
                    }
                }
            }
        }
    }
}

// 모바일
@media screen and (max-width: 768px) {
    .rec-wrapper {
        flex-wrap: wrap;
        margin-bottom: 0px;
        .rec-section {
            width: 100%;
            aspect-ratio: 1/0.339534;
            margin-bottom: 26px;
            border-radius: 6px;
            a {
                .txt-wrap {
                    h2 {
                        font-size: 2.4vw;
                        bottom: 20%;
                    }
                    p {
                        position: absolute;
                        font-size: 2.1vw;
                    }
                }
            }
        }
    }
    .pkg-filter-box {
        border-radius: 6px;
        .keywords {
            font-size: 13px;
        }
    }

    .event-container {
        .list-item {
            .list-container {
                width: 100%;
                border: 1px solid #ddd;
                a {
                    .img-wrapper {
                        aspect-ratio: 1/0.539534;
                        margin-bottom: 16px;
                        overflow: hidden;
                        .pkg-rewards {
                            width: 12%;
                            height: 23%;
                            padding-top: 2%;
                            .reward {
                                font-size: 12px;
                            }
                        }
                    }
                    .txt-wrapper,
                    .bottom-wrapper {
                        margin: 20px;
                    }
                    .txt-wrapper {
                        font-size: 16px;
                        h3 {
                            font-size: 22px;
                            font-weight: 700;
                            padding: 20px 0 8px 0;
                        }
                        .offer-des {
                            padding-bottom: 22px;
                        }
                        .offer-date {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
